*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #01161e;
    color: #eff6e0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.msg{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vmin;
    margin: 40vmin;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

h1{
    font-size: 10vmin;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.container{
    height: 60vmin;
    width: 55vmin;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: #598392;
}

.game{
    height: 95%;
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #598392;
}

.box{
    height: 28%;
    width: 28%;
    border-radius: 2rem;
    font-size: 8vmin;
    font-weight: bolder;
    color: #001116;
    border: none;
    background-color: #eff6e0;
}

#reset{
    margin-top: 4rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: #eff6e0;
    border-radius: 2rem;
    border: none;
    background-color: #105063;
}

#new{
    padding: 1rem;
    font-size: 1.5rem;
    color: #eff6e0;
    border-radius: 2rem;
    border: none;
    background-color: #105063;
}

.msg{
    color: #eff6e0;
    font-size: 5vmin;
    font-weight: bolder;
}

.hide{
    display: none;
}

.buttons{
    display: flex;
    gap: 5px;
}

#back{
    margin-top: 4rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: #eff6e0;
    border-radius: 2rem;
    border: none;
    background-color: #105063;
}